<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & registration Forms`</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            font-family: "Roboto", sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100hv;
            margin: 0;
        }

        .container { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            margin: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        form h2 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover{
            background-color: #218838;
        }
    </style>
</head>
<body>
    <div class="container">
        <% if (typeof username !== 'undefined') { %>
            <div class="form-container">
                <h2>Hola <%= username %>!</h2>
                <p>Estas en el panel de administracion</p>
                <button id="close-session">Cerrar sesion</button>
            </div>
        <% } %>

            <% if (typeof username === 'undefined') { %>
                <div class="form-container">
                    <form id="login-form">
                        <h2>Login</h2>
                        <label for="login-username">Username</label>
                        <input type="text" id="login-username" name="username" required>

                        <label for="login-password">Password</label>
                        <input type="password" id="login-password" name="password" required>

                        <button type="submit">Login</button>
                        <span>&nbsp;</span>
                    </form>        
                </div>

                <div class="form-container">
                    <form id="register-form">
                        <h2>Register</h2>
                        <label for="register-username">Username</label>
                        <input type="text" id="register-username" name="username" required>

                        <label for="register-password">Password</label>
                        <input type="password" id="register-password" name="password" required>

                        <label for="register-confirm-password">Confirm Password</label>
                        <input type="password" id="resgister-confirm-password" name="confirm-password" required>
                        <span>&nbsp;</span>
                        <button type="submit">Register</button>
                    </form>
                </div>
          <% } %>    
    </div>
    <script>
        const $ = el => document.querySelector(el)

        const loginForm = $('#login-form')
        const loginSpan = $('#login-form span')

        const registerForm = $('#register-form')
        const registerSpan = $('#register-form span')

        const logoutButton = $('#close-session')

        loginForm?.addEventListener('submit', e => {
            e.preventDefault()
            const username = $('#login-username').value
            const password = $('#login-password').value
            
            fetch('/login', {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
              .then(res =>{
                if (res.ok){
                    loginSpan.innerText = 'Sesion Iniciada... Entrando...'
                    loginSpan.style.color = 'green'
                    setTimeout(() => {
                        window.location.href = '/protected'
                    }, 1200)
                }else{
                    loginSpan.innerText = 'Error al iniciar sesion'
                    loginSpan.style.color = 'red'
                }
              })
            })
        
        registerForm?.addEventListener('submit', e => {
            e.preventDefault()
            const username = $('#register-username').value
            const password = $('#register-password').value
            const confirmPassword = $('#resgister-confirm-password').value
            console.log(username, password, confirmPassword)
            if ( password != confirmPassword) {
                alert('Passwords do not match')
                return
            }

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
              .then(res => {
                console.log(res)
                if(res.ok){
                    registerSpan.innerText = 'Usuario Registrado. Entrando...'
                    registerSpan.style.color = 'green'
                    setTimeout(() => {
                        fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                            },
                body: JSON.stringify({ username, password })
            })
              .then(res => {
                if(res.ok){
                    window.location.href = '/protected'
                }else{
                    loginSpan.innerText = 'Error al iniciar sesion'
                    loginSpan.style.color = 'red'
                }
              })
                    }, 1200)
                }else{
                    registerSpan.innerText = 'Error al registrar usuario'
                    registerSpan.style.color = 'red'
                }
              })
            })

            logoutButton?.addEventListener('click', e => {
                e.preventDefault()
                fetch('/logout', {
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                  .then(res => {
                    console.log(res)
                    window.location.href = ('/')
                })
            })
    </script>
</body>
</html>